#map { height: 700px; width:100%; display: inline-block; }

.leaflet-popup-content p {
    margin: 0.2em 0;
}

.sequence-control-container {  
    width: 350px;  
    height: 30px;  
    background-color:darkseagreen; 
    opacity: 0.75;
    padding: 10px;  
    line-height: 45px;  
    text-align: center;  
    border: solid gray 1px;  
}  

#h {
    text-align: center;
    font-size: x-large; 
    color: darkseagreen;
}

.range-slider {  
    width: 250px;  
}  

.step {  
    width: 40px;  
}  

.step img {  
    width: 100%;  
    height: auto;  
} 

#forward {
    float: right;
}

#reverse {
    float: left;
}

.legend-control-container {
    width: 150px;
    height: 90px;
    font-weight: bold;
    background-color:darkseagreen;
    opacity: 0.75;
    padding: 10px;
    text-align: center;
    border: solid gray 1px;
}

.legend-control-container p{
     margin: 0;
}